# .env.example

# Copy this file to '.env' and replace the placeholders with your actual configuration values

# AWS Cognito Pool Information (replace with your actual values or leave as placeholders)
COGNITO_POOL_ID=your_cognito_pool_id
COGNITO_REGION=your_cognito_region
COGNITO_CLIENT_ID=your_cognito_client_id

# Node environment setting
NODE_ENV=development

# Port for local server to run on
PORT=3000

# Skyscanner API key for testing purposes (replace with actual public key for testing)
SKYSCANNER_API_KEY=your_sky_scanner_api_key

# Your API key (replace with your actual API key for external services)
API_KEY=your_api_key

